<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/applicationContext.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>ListPersonServlet</servlet-name>
    <servlet-class>com.island.servlet.ListPersonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreatePersonServlet</servlet-name>
    <servlet-class>com.island.servlet.CreatePersonServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeletePersonServlet</display-name>
    <servlet-name>DeletePersonServlet</servlet-name>
    <servlet-class>com.island.servlet.DeletePersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPersonServlet</servlet-name>
    <url-pattern>/person/ListPerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreatePersonServlet</servlet-name>
    <url-pattern>/person/CreatePerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePersonServlet</servlet-name>
    <url-pattern>/person/DeletePerson</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MaintainPersonServlet</display-name>
    <servlet-name>MaintainPersonServlet</servlet-name>
    <servlet-class>com.island.servlet.MaintainPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintainPersonServlet</servlet-name>
    <url-pattern>/person/MaintainPerson</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>